.header {
  margin-bottom: 32px;
}
.navigation{
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}
.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
  width: 320px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
  padding-left: 50px;
}

.searchInput {
  border: none;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}
.searchResultLink{
    display: flex;
    align-items: center;
    padding: 10px;
    background: #fff;
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease;
}
.searchResultLink:hover{
    background: #f5f5f5;
}