@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

.App {
  background-color: #1b1d22;
  padding: 16px;
}
* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.shipment-card {
  padding: 29px 51px;
  background: linear-gradient(135deg, #2d3038 0%, rgba(45, 48, 56, 0) 100%);
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.shipment-id,
.selectingShippingTitle,
.selectedShippingTitle,
.shipment-name,
.shipment-email,
.shipment-boxes {
  color: #ffffff;
}
.selected {
  color: #979797;
}
.shipment-name,
.shipment-email,
.shipment-boxes {
  margin-top: 5px;
}
.shipment-boxes input {
  padding: 10px;
  width: 320px;
  border-radius: 8px;
}
.shippmentList {
  list-style: none;
  padding: 0;
  margin-bottom: 16px;
}
.shippmentList:hover {
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(45, 48, 56, 0.00) 22.92%, #2D3038 100%);
}

.shippmentLink {
  color: #ffffff;
  text-decoration: none;
}

ul {
  padding-left: 0 !important;
}
