@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

h1,
h2,
h3 {
  color: #ffffff !important;
}
.App {
  background-color: #1b1d22;
  padding: 16px;
}
* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.shipment-card {
  padding: 29px 51px;
  background: linear-gradient(135deg, #2d3038 0%, rgba(45, 48, 56, 0) 100%);
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.shipment-id,
.selectingShippingTitle,
.selectedShippingTitle,
.shipment-name,
.shipment-email,
.shipment-boxes {
  color: #ffffff;
}
.selected {
  color: #979797;
}
.shipment-name,
.shipment-email,
.shipment-boxes {
  margin-top: 5px;
}
.shipment-boxes input {
  padding: 10px;
  width: 100%;
  border-radius: 8px;
}
.shipmentList {
  list-style: none;
  padding: 0;
  margin-bottom: 16px;
}
.shipmentList:hover {
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(45, 48, 56, 0) 22.92%, #2d3038 100%);
}

.shipmentLink {
  color: #ffffff;
  text-decoration: none;
}

ul {
  padding-left: 0 !important;
}
.mobile-header {
  display: none;
}

@media (max-width: 800px) {
  .hide-company-names {
    display: none;
  }
  .maxWidth {
    width: 100% !important;
  }
  .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .shipmentList a {
    color: #ffffff;
  }
  .hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: transform 0.3s ease;
  }
  .bar {
    width: 30px;
    height: 3px;
    background-color: #333;
    transition: background-color 0.3s ease;
  }

  .hamburger-open .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  .hamburger-open .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger-open .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
  }
}
